export IMAGE_ID=ami-4913a230
export AWS_REGION=eu-west-1
export AWS_DEFAULT_REGION=eu-west-1
export AWS_SSH_USERNAME=ubuntu
export AWS_INTANCE_TYPE=c4.large
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

export TRAEFIK_PASS=""
export PIPELINE_ING_PASS=""
export PROM_ING_PASS=""
export KEY_NAME=""

export DRONE_ORGS=""
export DRONE_GITHUB_CLIENT=""
export DRONE_GITHUB_SECRET=""

export PIPELINE_IMAGE_TAG="latest"